project:
  type: book
  output-dir: site
  execute-dir: project

book:
  downloads: [pdf,docx]
  title: "Starting up with git, github and github pages"
  author:
  - name: "Mark Jones"
    affiliations:
      - name: "University of Sydney"
        department: "Adaptive Health Intelligence"
  date: today
  chapters:
    - index.qmd
    - notebooks/preamble.qmd
    - part: notebooks/part-01.qmd
      chapters:
        - notebooks/what-is-revision-control.qmd
        - notebooks/git-install.qmd
        - notebooks/git-setup.qmd
        - notebooks/github-setup.qmd
        - notebooks/about.qmd
    - part: notebooks/part-02.qmd
      chapters:
        - notebooks/git-repository.qmd
        - notebooks/git-commit.qmd
        - notebooks/git-branch.qmd
        - notebooks/git-merge.qmd
    - part: notebooks/part-03.qmd
  site-url: https://pages.github.sydney.edu.au/mjon7053/starting-git/
  repo-url: https://github.sydney.edu.au/mjon7053/starting-git
  repo-actions: [source, issue]

format:
  html:
    toc: true
    code-fold: true
    code-line-numbers: true
    toc-location: right
    toc-title: "Contents"
    toc-depth: 4
    toc-expand: true
    fig-width: 6
    fig-height: 4
    fig-dpi: 300
    fig-cap-location: margin
    tbl-cap-location: margin
    format-links: true
    html-math-method: katex
    theme: journal
    highlight-style: arrow
    fontsize: 1em
    link-external-icon: true
    link-external-newwindow: true
    link-external-filter: '^(?:http:|https:)\/\/github\.sydney\.edu\.au'

  pdf:
    documentclass: scrreprt
  docx:
    reference-doc: template-qmd.docx
    toc: true
    toc-title: "Table of contents"
    number-sections: true


editor: source


